[submodule "pdf-theme"]
	path = pdf-theme
	url = https://github.com/isaqb-org/pdf-theme.git
	branch = master
[submodule "adoc2pdf"]
	path = adoc2pdf
	url = https://github.com/isaqb-org/adoc2pdf.git
	branch = master
