[submodule "pdf-theme"]
	path = pdf-theme
	url = https://github.com/isaqb-org/pdf-theme
[submodule "html-theme"]
	path = html-theme
	url = https://github.com/isaqb-org/html-theme
[submodule "license-copyright"]
	path = license-copyright
	url = https://github.com/isaqb-org/license-copyright
